.details-list {
  list-style-type: none;
  width: 90%;
}
.list-container {
  width: 100vw;
}
.delete-selected-button {
  background-color: red;
  height: 30px;
  margin-left: 40px;
  border-radius: 10px;
  color: white;
  border: none;
  font-weight: 500;
}
